# Connect to Supabase via connection pooling
# take from prisma orm section pooled connection 
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# Hugging fce api key
HUGGINGFACE_API_KEY=""

# Superbase service_role secret key found in api keys section
SERVICE_ROLE_KEY=""

# Found in integrations data api 
NEXT_PUBLIC_SUPABASE_DATA_API="https://[PROJECT ID].supabase.co"

GROQ_API_KEY=""

COHERE_API_KEY=""